<a href="https://colab.research.google.com/github/haneesha-thasni/python-interview-questions/blob/main/python_coding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# set A
#1- write a program to swap 2 variables
a="welcome"
b="codeme"
a,b=b,a
print(a)
print(b)

codeme
welcome

In [ ]:
#2- write a program to add 2 numbers and print the result
a=2
b=5
print(a+b)

7

In [ ]:
#3- write a program to print all even numbers between 1 and 100
for i in range(1,101):
  if i%2==0:
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [ ]:
#4- write a program to reverse a string
word="codeme"[::-1]
print(word)

emedoc

In [ ]:
#5- calculate area of a circle given radious
r=5
pi=3.14
area=pi*r**2
print(area)

78.5

In [ ]:
#6- find maximum of 2 numbers
p=38
r=98
print(max(p,r))

98

In [ ]:
#7- find the sum of all numbers in a list
mark=[12,13,14,15]
print(sum(mark))

54

In [ ]:
#8- find the second largest number in a list
k=[1,9,5,7,2,8]
k.sort()
print(k[-2])

8

In [ ]:
#9- take a number as an argument and return its square
def sqnum(number):
  return number**2
result=sqnum(2)
print(result)

4

In [ ]:
#10- count the number of vowels in a string
words="codeme hub international"
v=['a','e','i','o','u','A','E','I','O','U']
count=0
for char in words:
  if char in v:
    count+=1
print(count)

10

In [ ]:
# set B
#1- sort a list of numbers in acsending order
age=[1,5,33,64,76,12]
age.sort()
print(age)

[1, 5, 12, 33, 64, 76]

In [ ]:
#2- find the sum of first n natural numbers
n=int(input("enter the limit"))
sum=0
for i in range(n):
  sum+=i
print(sum)

enter the limit15
105

In [ ]:
#3- find the intersection of two sets
set1={1,2,3,4,5}
set2={3,4,5,6,7,8}
intersection=set1.intersection(set2)
print(intersection)

{3, 4, 5}

In [ ]:
#4- write a program to ask the user for their name and print a greeting message with their name
name=input("enter your name")
print(f"hi {name} good morning\n how are you?")

enter your namehaneesha
hi haneesha good morning
 how are you?

In [ ]:
#5- check if a given number is even or odd
number=int(input("enter a number"))
if number%2==0:
  print("the number is even")
else:
  print("the number is odd")

enter a number5
the number is odd

In [ ]:
#6- create a list of 5 fruits and print the list
fruits=[]
for i in range(5):
  name=input(f"enter the fruit name {i+1}:")
  fruits.append(name)
print(fruits)

enter the fruit name 1:banana
enter the fruit name 2:kiwi
enter the fruit name 3:mango
enter the fruit name 4:apple
enter the fruit name 5:orange
['banana', 'kiwi', 'mango', 'apple', 'orange']

In [ ]:
#7- write a function to add 2 numbers
def sumnum(num1,num2):
  return num1+num2
num1=int(input("enter the first number"))
num2=int(input("enter the second number"))
result=sumnum(num1,num2)
print(result)

enter the first number3
enter the second number2
5

In [ ]:
#8- find the common element in 2 lists
list1=[1,2,3,4,5,6,7]
list2=[5,6,7,8,9]
list3=[]
for i in list1:
  for j in list2:
    if i==j:
      list3.append(i)
print(list3)

[5, 6, 7]

In [ ]:
#9- write a program that ask the user for a list of numbers and then prints the average of those numbers
list1=[]
sumlist=0
limit=int(input("enter a limit to the list"))
while limit>0:
  new=int(input("enter a number into the list"))
  list1.append(new)
  limit-=1
sumlist=sum(list1)
average=sumlist/len(list1)
print(average)

enter a limit to the list3
enter a number into the list1
enter a number into the list2
enter a number into the list3
[1, 2, 3]
2.0

In [ ]:
#test C
#1- write a program that creates a dictionary with 3 key-value pairs and print it.
haneesha={}
limit=3
for i in range(limit):
  key=input("enter a key")
  value=input("enter the value")
  haneesha[key]=value
print("haneesha =", haneesha)

enter a keymaths
enter the value100
enter a keyenglish
enter the value100
enter a keyhindi
enter the value99
haneesha = {'maths': '100', 'english': '100', 'hindi': '99'}

In [ ]:
#2- write a program that prints numbers from 1-5 using a while loop
num=1
while num<6:
  print(num)
  num+=1

1
2
3
4
5

In [ ]:
#3- write a program that asks the user for numbers and prints their sum
num1=int(input("enter a number"))
num2=int(input("enter another number"))
sum=num1+num2
print(f"{num1} + {num2} = {sum}")

enter a number5
enter another number3
5 + 3 = 8

In [ ]:
#4- write a program that prints the first and last elements of a list.
list1=[1,2,3,4,5,6,7,8,9]
print("first element in list1 is ",list1[0])
print("last element in list1 is ",list1[-1])

first element in list1 is  1
last element in list1 is  9

In [ ]:
#5- concatenate two strings and print the result
word1="hello"
word2=" codeme hub"
print(word1+word2)

hello codeme hub

In [ ]:
#6- compare 2 numbers and print which one is larger
a=int(input("enter a number"))
b=int(input("enter another number"))
if a>b:
  print(f"{a} is larger than {b}")
else:
  print(f"{b} is larger than {a}")

enter a number8
enter another number2
8 is larger than 2

In [ ]:
#7- to generate a list of even numbers from 1-20
even=[]
for i in range(1,21):
  if i%2==0:
    even.append(i)
print("even =", even)

even = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
# set D
#1- write a function factorial that returns the factorial of a given number
def factorial(num):
  fact=1
  while num>=1:
    fact*=num
    num-=1
  return fact
num=int(input("enter a number"))
print(factorial(num))

enter a number4
24

In [ ]:
#2- write a function intersection that finds the intersection of two lists.
def intersection(list1,list2):
  result=[]
  for element in list1:
    if element in list2 and element not in result:
      result.append(element)
  return result
list1=[1,2,3,4,5,6,7,8,9,10]
list2=[2,4,6,8,10]
print(intersection(list1,list2))

[2, 4, 6, 8, 10]

In [ ]:
#3- write a function squares that take a list of integers and returns a new list
'''containing the squares of all the even numbers from the original list using
list comprehension.'''
def squares(integers):
  return[i**2 for i in integers if i%2==0]
integers=[12,13,14,15,16]
print(squares(integers))

[144, 196, 256]

In [ ]:
#4- write a function double_numbers that takes a list of integers and returns
'''a new list containing each number doubled using list comprehension.'''
def double_numbers(num):
  return[i*2 for i in num]
num=[1,3,5,7,9]
print(double_numbers(num))

[2, 6, 10, 14, 18]

In [ ]:
#5- write a function increment_elements that takes a list of integers and returns
'''a new list where each element is incremented by one using the map function and a lambda expression'''
def increment_elements(num):
  return list(map(lambda i:i+1, num))
num=[1,2,3,4,5]
print(increment_elements(num))

[2, 3, 4, 5, 6]

In [ ]:
#6- write a function remove_elements that takes a list of integers and an integer n, and returns a
'''new list with all occurences of n removed from the original list.'''
def remove_elements(num,n):
  return[i for i in num if i!=n]
num=[1,2,3,4,5,6,7,8,9]
n=2
print(remove_elements(num,n))

[1, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#7- write a function count_words that take a list of strings and  returns a new list
'''containing the words that occur more than twice without using the counter class'''
def count_words(strings):
  word_count={}
  for word in strings:
    if word in word_count:
      word_count[word]+=1
    else:
      word_count[word]=1
    result=[]
  for i,j in word_count.items():
    if j>=2:
      result.append(i)
  return result
strings=["apple","banana","mango","apple","mango","mango","orange","banana"]
print(count_words(strings))

['apple', 'banana', 'mango']

In [3]:
#8- write a function count_alphabet_occurences that take a list of words and returns a
''' dictionary where the keys are alphabetic charecters and the values are the
number of times each charecter appears across all the words in the list'''
def count_alphabet_occurences(words):
  char_count={}
  for word in words:
    for char in word:
      if char.isalpha():
        char=char.lower()
        if char in char_count:
          char_count[char]+=1
        else:
          char_count[char]=1
  return char_count
words=["python","programming","language"]
result=count_alphabet_occurences(words)
print(result)

{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 2, 'n': 3, 'r': 2, 'g': 4, 'a': 3, 'm': 2, 'i': 1, 'l': 1, 'u': 1, 'e': 1}

In [2]:
#9- write a function flatten_list that takes a list of lists and return a single list
'''containing all the elements from the nested lists'''
def flatten_list(nested_list):
  return[item for sublist in nested_list for item in sublist]
nested_list=[[1,2,3],[4,5],[6,7,8],[9,10]]
print(flatten_list(nested_list))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#10- write a function remove_duplicates that takes a list and returns a new list with duplicate elements removed.
def remove_elements(list1):
  new_list=[]
  for i in list1:
    if i not in new_list:
      new_list.append(i)
  return new_list
list1=[1,2,3,4,5,2,4]
print(remove_elements(list1))

[1, 2, 3, 4, 5]